<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>Collaborative List of Lists:</h2>
    {% for x in myDict %}
        <ul>
            <li>{{ x }}</li>
            {% for glorb in myDict[x] %}
            <ul>
                <li>
                {% for word in glorb %}
                    {{ word }}
                {% endfor %}
                </li>
            </ul>
            {% endfor %}
        </ul>
    {% endfor %}

</body>
</html>